.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: rgb(173, 180, 182);
  position: sticky;
  top: 0;
  left: 0;
}

.navbar__cart {
  width: 200px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__cart:hover {
  opacity: 0.75;
}

.cart__title {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
}

.cart__image {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/*  */
